<h4 style="text-align: center; padding-top: 20px">Hello! This is Skelet0r.</h4>


<p style="padding: 14px; text-align: justify"> OrionOP is the first Riot Games API's project developed by Unosquare in collaboration with Dark Army Studios, is a (RESTFUL) App for check you stats in League of Legends, is developed with AngularJS Framework, if you wanna be a developer for this project contact us! :D</p>

<p style="padding: 14px; text-align: center">E-mail: darkarmystudios@gmail.com</p>


<div layout="column" layout-align="space-around center">
	<img src="img/happy.gif" width="200" height="200">
</div>


<p style="padding: 14px; text-align: center; font-size: 10px">Yep, We love the dogs.</p>