<div>
    <md-content class="md-padding">
        <md-nav-bar md-selected-nav-item="currentNavItem" nav-bar-aria-label="navigation links">
            <md-nav-item md-nav-click="goto(0)" name="soloQ">
                Solo Queue
            </md-nav-item>
            
            <md-nav-item md-nav-click="goto(1)" name="flex5">
                Flex 5 vs 5
            </md-nav-item>
            
            <md-nav-item md-nav-click="goto(2)" name="flex3">
                Flex 3 vs 3
            </md-nav-item>
        </md-nav-bar>
                
        <!--span>{{status}}</span-->

        <div class="containerElo" layout="row" layout-align="space-around center">
            <div flex="50" layout="column" layout-align="center center">
                <img ng-src="{{elos[currentQueue].icon}}" class="md-avatar" height="64" width="64">
            </div>
            
            <div flex="50" layout="column" layout-align="center start">
                <p class="eloData">
                    Wins: {{elos[currentQueue].wins}} <br/>
                    Losses: {{elos[currentQueue].losses}} <br/>
                    Tier: {{elos[currentQueue].tier}} <br/>
                    League name: {{elos[currentQueue].league}}
                </p>
            </div>
        </div>
       
       	<span>Name: {{$ctrl.hero}}</span>
    </md-content>
</div>